---
import ContactDecoy from "../components/ContactDecoy";
import Layout from "../layouts/layout.astro";
---

<Layout
  title="Valentine INTL"
  bodyColor="noir"
  bodyClassName="min-h-[100vh] justify-between"
>
  <main
    class="w-[100vw] flex flex-col gap-6 items-center justify-center bg-black bg-noir px-4 h-full"
  >
    <ContactDecoy client:load />
  </main>
</Layout>
