---
import "../css/fonts.css";
import "../css/fx.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#F00000" />
    <title>#SummerValentine</title>
  </head>
  <body
    class="w-[100vw] flex items-center justify-center bg-black overflow-x-hidden bg-red-revolt lg:scale-[0.76]"
  >
    <main
      class="flex flex-col items-center text-center max-w-full p-4 lg:px-64 gap-56 bg-red-revolt"
    >
      <img class="w-full" src="img/ForeverValentine.jpg" />
      <div
        class="text-tender-pink font-nympha font-light italic text-xl lg:text-3xl"
      >
        <a>#SummerValentine</a>
        <a>#SunsetValentine</a>
        <a>#ForeverValentine</a>
        <a>#BeMine</a>
      </div>
      <img class="w-[36%]" src="img/msvmlvmm.png" />
    </main>
  </body>
</html>
