<footer
  class="w-full bg-noir p-20 flex lg:justify-between lg:items-center lg:flex-row flex-col max-lg:gap-4"
>
  <div class="flex flex-col text-tender-pink font-maison font-light">
    <p>Sincerely Personal,</p>
    <p class="text-red-revolt">Messiah S. Valentine Maitrise</p>
    <p>MSVMLVMM UNITY INTL</p>
    <p class="text-red-revolt">Summer Valentine Co.</p>
    <p>+1 (718) 283-4993</p>
    <p class="text-red-revolt">ceo@summervalentine.co</p>
  </div>
  <a href="/sexy"><img src="img/footerimg.svg" /></a>
</footer>
