---

---

<nav
  class="flex justify-between items-center px-4 lg:px-[25vw] py-5 font-maison font-bold underline text-noir gap-4"
>
  <a href="/sexy">#SummerValentine</a>
  <a href="/"><img class="w-[100px]" src="img/svlogo.png" /></a>
  <a href="/resign">#HardQuitting</a>
</nav>
