---
interface Props {
  title: string;
  bodyColor?: string;
  bodyClassName?: string;
}

import "valentinesharedassets/dist/css/fonts.css";
import "valentinesharedassets/dist/css/fx.css";
import "valentinesharedassets/dist/css/reset.css";
import "../css/main.css";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav";
const { title, bodyColor, bodyClassName } = Astro.props;
---

<html lang="en" class="overflow-x-hidden lg:overflow-y-hidden hide-scrollbar">
  <Head title={title} />
  <body
    class={`bg-${bodyColor ?? "bg-red-revolt"} ${bodyClassName}  flex flex-col gap-6 overflow-x-hidden lg:overflow-y-hidden`}
  >
    <Nav client:load />
    <slot />
    <Footer />
  </body>
</html>
